.offer-details-wrapper {
    .main-content {
        display: block;
    }

    .offer-details-content {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-between;
    }

    .offer-additional-info {
        display: flex;
    }
}
