.user-information-wrapper {
    padding-top: 20px;
    width: 350px;

    .user-profile-picture {
        width: 200px;
        height: 200px;
        margin: auto;
        border-radius: 50%;
        overflow: hidden;
        border: 4px solid rgba(0, 0, 0, 0.5);

        img,
        svg {
            display: flex;
            width: 100%;
            height: 100%;

            path {
                fill: rgba(0, 0, 0, 0.5);
            }
        }
    }

    .upload-photo-wrapper {
        margin-top: 30px;
        width: 220px;
    }

    .button-white {
        margin: 10px auto;
    }

    .user-credentials {
        padding-top: 20px;

        p {
            font: normal normal 20px/40px 'Roboto';
            margin: 5px auto;
            color: rgba(0, 0, 0, 0.5);
        }

        span {
            font: normal normal 22px/40px 'Roboto';
            color: #c82333;
            text-align: center;
            padding-left: 10px;
        }
    }
}
