.login-form-wrapper {
    margin: auto;
    padding-bottom: 401px;

    h1 {
        font: normal 700 32px/64px 'Roboto';
        letter-spacing: -0.02em;
        text-align: center;
        color: #c82333;
        margin: 0;
    }

    form {
        width: 300px;
        margin: auto;
    }

    input {
        font: normal normal 14px/32px 'Roboto';
        color: #c82333;
    }
}
