.reviews-wrapper {
    width: 1300px;
    margin: 0 auto;

    h3 {
        font: normal bold 25px/40px 'Roboto';
        text-align: center;
        color: #c82333;
        margin: 10px auto;
    }

    .user-reviews {
        display: flex;
        width: 1250px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        a {
            text-decoration: none;
        }

        h5 {
            margin: 0;
            font: italic bold 15px/30px 'Roboto';
            text-align: center;
            color: black;
        }

        .review-offer-content {
            margin: 0px 0px 30px 0px;
            width: 300px;

            img {
                width: 300px;
                height: 200px;
                border-radius: 4px;
            }
        }

        .review-offer-content:nth-of-type(4n + 2) {
            margin-left: 10px;
        }

        .review-offer-content:nth-of-type(4n + 3) {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}
