.company-form-wrapper {
    width: 508px;
    border: 1px solid white;
    border-radius: 4px;
    padding-bottom: 20px;
    background: #c82333;

    h3 {
        font: italic normal 20px/32px 'Roboto';
        text-align: center;
        color: white;
    }

    input {
        font: normal normal 14px/32px 'Roboto';
        color: white;
    }

    .button-white {
        margin: 50px auto 10px auto;
        width: 120px;
        height: 40px;
    }

    .MuiFormLabel-root {
        color: white;
    }

    .MuiFormLabel-root.Mui-focused {
        color: white;
    }

    .MuiOutlinedInput-input:focus {
        color: white;
    }

    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: white;
    }

    .MuiOutlinedInput-notchedOutline {
        border-color: white;
    }
}
