.company-form-wrapper {
    width: 508px;
    border: 1px solid #c82333;
    border-radius: 4px;
    padding-bottom: 20px;

    .button-white {
        margin: 50px auto 10px auto;
        width: 120px;
        height: 40px;
    }
}
