.deposit-form-wrapper {
    form {
        padding-top: 20px;
        width: 300px;
        margin: auto;
    }

    input {
        color: #c82333;
        border: 1px solid gray;
        border-radius: 4px;
        padding: 5px;
        display: block;
        margin: 10px auto;
    }
}
