.header-wrapper {
    background: #c82333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #c82333;
    border-radius: 4px;

    .logged-links {
        padding-left: 40px;
        margin: 0px;
        width: 150px;
        display: flex;
        list-style: none;
        justify-content: space-between;
    }

    .guest-links {
        margin: 0px 30px 0px auto;
        width: 120px;
        display: flex;
        list-style: none;
        justify-content: space-between;
    }

    a {
        font-family: 'Roboto';
        text-decoration: none;
        color: white;

        &:hover {
            color: rgb(253, 211, 218);
        }
    }
}
