.home-wrapper {
    margin: 0 auto;
    width: 100%;

    .home-content {
        display: flex;
    }

    .pagination-wrapper {
        padding-top: 50px;

        width: 1090px;
        margin: 0px 50px 0px auto;

        nav {
            display: flex;
            width: 350px;
            margin: 0 auto;

            ul {
                margin: 0 auto;
            }
        }
    }
}
