.home-wrapper {
    margin: 0 auto;
    width: 100%;

    .pagination-wrapper {
        padding-top: 50px;
        width: 350px;
        margin: 0 auto;
        text-align: center;

        nav {
            display: flex;

            ul {
                margin: 0 auto;
            }
        }
    }
}
