.user-offers-wrapper {
    width: 1000px;

    .user-offers {
        display: flex;
        justify-content: flex-start;
        padding: 0px 10px;

        img {
            width: 100%;
            border-radius: 4px;
        }

        svg {
            display: flex;
            margin: auto 10px;
            fill: rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }

        .offer-content {
            width: 300px;
        }

        .offer-content:nth-of-type(2) {
            margin-right: 10px;
            margin-left: 10px;
        }

        .buttons-wrapper {
            width: 130px;
            display: flex;
            justify-content: space-between;
            margin: auto;
            align-items: center;

            a {
                font: normal normal 13px/25px 'Roboto';
                padding: 1px 10px;
                text-decoration: none;
                color: rgb(13, 216, 13);
                border: 1px solid rgb(13, 216, 13);
                border-radius: 4px;

                &:hover {
                    color: white;
                    background: rgb(13, 216, 13);
                }
            }

            .button-white {
                margin: auto;
            }
        }
    }

    h3 {
        font: normal bold 30px/40px 'Roboto';
        color: #c82333;
        text-align: center;
        margin: 15px 0px;
    }

    h5 {
        font: italic bold 17px/30px 'Roboto';
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
        margin: 0;
    }
}
