.form-wrapper {
    margin: auto;
    padding-bottom: 50px;

    .form-content {
        display: flex;
    }

    .button-white {
        margin: 10px auto;
        width: 120px;
        height: 40px;
    }

    .title-helper {
        font: italic normal 20px/64px 'Roboto';
        margin: 0;
        text-align: center;
        opacity: 0.5;
    }

    h1 {
        font: normal 700 32px/64px 'Roboto';
        letter-spacing: -0.02em;
        text-align: center;
        color: #c82333;
        margin: 0;
    }
}
