.main-wrapper {
    margin: auto;
    width: 1440px;

    .main-content {
        display: flex;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        height: 765px;
    }
}
