.offer-wrapper {
    width: 355px;
    height: 330px;
    border-radius: 4px;
    background: blanchedalmond;

    img {
        width: 100%;
        height: 220px;
        border-radius: 4px;
    }
}

.offer-wrapper:nth-child(3n + 2) {
    margin-right: 13px;
    margin-left: 12px;
}
