.login-form {
    width: 600px;
    border: 1px solid white;
    border-radius: 4px;
    padding-bottom: 20px;
    background: #c82333;

    h3 {
        font: italic normal 20px/32px 'Roboto';
        text-align: center;
        color: white;
    }

    form {
        padding-top: 48px;
    }

    input {
        font: normal normal 14px/32px 'Roboto';
        color: white;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            box-shadow: 0 0 0px 1000px #c82333 inset;
            -webkit-box-shadow: 0 0 0px 1000px #c82333 inset;
            -webkit-text-fill-color: white;
            transition: background-color 5000s ease-in-out 0s;
        }
    }

    .button-white {
        margin: 50px auto 10px auto;
        width: 120px;
        height: 40px;
    }

    .MuiFormLabel-root {
        color: white;
    }

    .MuiFormLabel-root.Mui-focused {
        color: white;
    }

    .MuiOutlinedInput-input:focus {
        color: white;
    }

    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: white;
    }

    .MuiOutlinedInput-notchedOutline {
        border-color: white;
    }
}
